* {
	box-sizing: border-box;
  }
  .slick-arrow.slick-prev {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	z-index: 10;
	border: 2px solid black;
	color: rgb(10, 2, 1);
  }
  .slick-arrow:hover.slick-prev:hover {
	visibility: visible;
	border: 2px solid black;
	color: rgb(10, 2, 1);
  }
  
  .slick-prev:before {
	content: "<";
  
	background-color: rgb(221, 210, 210);
	color: rgb(15, 15, 14);
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	left: 40px;
	align-items: center;
	z-index: 10000;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	/* padding: 2px; */
	display: grid;
	justify-content: center;
	/* border: 2px solid black; */
  }
  
  .slick-prev:after {
	background-color: yellow;
	/* border: 2px solid black; */
	color: rgb(10, 2, 1);
  }
  
  .slick-next:before {
	content: ">";
	background-color: rgb(221, 210, 210);
	/* padding: 5px; */
	color: rgb(10, 2, 1);
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	right: 40px;
	z-index: 10000;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: grid;
	justify-content: center;
	align-items: center;
  }
  
  .slideImg {
	width: 98%;
	margin-top: 8px;
  }